body {
    background-image: url('../assets/homebg.png');
    background-size: cover; /* Cover the entire body */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
}

/* Custom CSS to center the container */
.centered-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*for Logo*/
.logo img {
    width: 150px;
    height: auto;
}

.search-sec {  
    padding-top: 6rem;
}

/* for search bar/advance search*/
.search-bar {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #f6f6f6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.60);
}

.search-box input {
    padding: 16px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #1b1b1b;
    border: 0;
    outline: 0; 
    background: none;
}

.search-box i {
    font-size: 25px;
    cursor: pointer;
}

.search-box input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #58AFD8;
}
