@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('homebg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* for PLV LOGO*/
.container {
    text-align: center;
    margin-bottom: 100px;
}

.logo {
    margin-bottom: 40px;
}

.logo img {
    width: 150px;
    height: auto;
}

/* for header*/
.header {
    position: fixed;
    top: 10px;
    left: 5px;
    width: 95%;
    padding: 10px ;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/*.header-logo {

}*/

.navbar {
    height: 20px;
    width: 70px;
    min-width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.navbar a:hover {
    opacity: 0.8;
}

.navbar a.active {
    text-decoration: none;
    position: relative;
}

.navbar a.active::after {
    content: '';
    position: absolute;
    left: -11px;
    bottom: -15px;
    width: 80px;
    height: 4px;
    background-color: #ffffff;
}

/* for search bar/advance search*/
.search-bar {
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 600px;
    background-color: #f6f6f6;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.60);
}

.dropdown {
    position: relative;
    height: 50px;
    width: 250px;
    border-radius: 50px;
    background-color: #0077B0;
    cursor: pointer;
}

.dropdown-text {
    display: flex;
    align-items: center;
    left: -20px;
    justify-content: space-between;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    padding: 14px 15px 15px 28px;
  
}

.dropdown-list {
    list-style-type: none;
    position: absolute;
    top: 45px;
    left: 0;
    width: 75%;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    max-height: 0;
    overflow: hidden;
    background-color: #ffffff;
    transition: max-height 0.5s;
}

#list.show {
    max-height: 300px;
}

.dropdown-list-item {
    text-align: left;
    margin-left: -15px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 5px 15px;
    cursor: pointer;
    transition: margin-left 0.2s ease, color 0.2s ease;
}

.dropdown-list-item:hover {
    margin-left: -10px;
    color: #0077B0;
}

.search-box {
    display: flex;
    align-items: center;
    padding-right: 10px;
    width: 100%;
    color: #b4b4b4;
}

.search-box input {
    padding: 16px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #1b1b1b;
    border: 0;
    outline: 0;
    background: none;
}

.search-box i {
    font-size: 25px;
    cursor: pointer;
}

.search-box input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #58AFD8;
}