@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #242333;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.layout {
  display: grid;
  grid-template-columns: repeat(8, 40px); /* Adjusted width for columns */
  grid-template-rows: repeat(10, 40px); /* Adjusted height for rows */
  grid-gap: 20px;
}

.seat {
  width: 40px; /* Adjusted width for seat */
  height: 40px; /* Adjusted height for seat */
  background-color: #e0e0e0; /* Gray for available */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.occupied {
  background-color: #64B5F6; /* Blue for occupied */
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.legend {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-item span {
  margin-left: 5px;
}

.available {
  width: 20px;
  height: 20px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.occupied-legend {
  width: 20px;
  height: 20px;
  background-color: #64B5F6;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.available-seats {
  margin-top: 20px;
  font-size: 1.2em;
}
