@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #242333;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal overflow */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  overflow-y: auto; /* Enable vertical scrolling if needed */
  width: 100%; /* Ensure full width */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
}

.seat {
  width: 25px;
  height: 25px;
  background-color: #e0e0e0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Position relative for absolute positioning */
}

.seat img {
  position: absolute; /* Position absolute for positioning the image */
  left: -30px; /* Adjust the left position based on the image width */
  height: 25px;
  width: 25px;
}

.occupied {
  background-color: #64B5F6; /* Blue for occupied */
  color: #fff;
  width: 25px; /* Adjusted width for seat */
  height: 25px; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.legend {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-item span {
  margin-left: 5px;
}

.available {
  width: 20px;
  height: 20px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.occupied-legend {
  width: 20px;
  height: 20px;
  background-color: #64B5F6;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.available-seats {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
  text-align: center; /* Center text */
}

.layout.tables-chairs {
  display: grid;
  grid-template-columns: repeat(8, 40px); /* Adjusted width for columns */
  grid-template-rows: repeat(20, 40px); /* Adjusted height for rows */
  grid-gap: 10px; /* Adjusted gap between seats */
}

.layout.computer {
  display: grid;
  grid-template-columns: repeat(9, 40px); /* Adjusted width for columns */
  grid-template-rows: repeat(1, 40px); /* Adjusted height for rows */
  grid-gap: 10px; /* Adjusted gap between seats */
}

.layout.graduate {
  display: grid;
  grid-template-columns: repeat(10, 40px); /* Adjusted width for columns */
  grid-template-rows: repeat(3, 40px); /* Adjusted height for rows */
  grid-gap: 10px; /* Adjusted gap between seats */
}
