/* General styling */
body {
    background: url('../assets/img/login-bg.png') no-repeat center center fixed;
    background-size: cover;
    color: white; 
}

/* Center alignment */
#layoutAuthentication {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login box */
.login-box {
    width: 400px; /* Set desired width for the card */
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    color: #333;
}


/* Labels and inputs */
.form-floating label {
    color: #555;
}
.form-control {
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    color: #333;
    font-size: 1rem;
}
.form-control:focus {
    border-bottom: 2px solid #0056b3;
    box-shadow: none;
}
.form-select {
    background: transparent;
    color: #333;
    border: none;
    border-bottom: 2px solid #ccc;
    padding-left: 0.5rem;
}
.form-select option {
    background: #648bb4;
    color: white;
}

/* Button styling */
.btn-primary {
    background-color: #648bb4;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #0056b3;
}
